@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&display=swap');

html,
body {
  padding: 1rem;
  margin: 0;
  background-color: rgb(21, 12, 58);
  font-family: 'Noto Sans JP', sans-serif;
  color: aliceblue;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
